<ion-view view-title="Đăng Ký">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Tên Đăng Nhập</span>
        <input type="text" placeholder="Suhr" ng-model="input.username">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Mật Khẩu</span>
        <input type="password" placeholder="*********" ng-model="input.password">
      </label>
      <label class="item-input item-select">
        <div class="input-label">
          Bạn Muốn Đăng Ký Làm :
        </div>
        <select ng-model="input.role">
          <option ng-repeat="role in roles" value="{{role.value}}">{{role.name}}</option>
        </select>

      </label>
      <label class="item item-input item-stacked-label">
        <button class="button" ng-click="registerUser()">Đăng Ký</button>
      </label>
    </div>

  </ion-content>
</ion-view>
